<nav>
    <ul>
        <li><a href="/">Főoldal</a></li>
        <li><a href="/rolunk">Rólunk</a></li>
        <li><a href="/szolgaltatasok">Szolgáltatások</a></li>
        <li><a href="/kapcsolat">Kapcsolat</a></li>
    </ul>
</nav>